# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
ca-certificates=2018.10.15=ha4d7672_0
intel-openmp=2019.0=118
m2w64-gcc-libgfortran=5.3.0=6
m2w64-gcc-libs=5.3.0=7
m2w64-gcc-libs-core=5.3.0=7
m2w64-gmp=6.1.0=2
m2w64-libwinpthread-git=5.0.0.4634.697f757=2
msys2-conda-epoch=20160418=1
numpy-base=1.15.2=py37h8128ebf_0
python-dateutil=2.7.3=py37_0
scikit-learn=0.20.0=py37heebcf9a_1
